<div *ngIf="accountService.accounts$ | async as data; else loading">
  <div class="row whiteback margin-top-1">
    <div class="container">
      <div class="col-md-12">
        <app-account-filters [accounts]="data" (filterGate)="handleEmit($event)" (filterAccount)="handleEmit($event)"
                             (filterType)="handleEmit($event)"></app-account-filters>
        <div class="row borderbtm padding-top-10px" *ngFor="let item of data | accounts: value: filter">
          <div class="col-md-12">
            <app-account-item [account]="item"></app-account-item>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #loading>
  <div class="row margin-top-20px">
    <div class="col-md-12 text-center">
      <i class="fa fa-spinner fa-2x fa-spin fa-fw"></i>
      <span class="sr-only">Loading...</span>
    </div>
  </div>
</ng-template>
