<div *ngIf="activesService.actives$ | async as data; else loading">
  <div class="row whiteback  margin-top-1 padding-top-10px">
    <div class="container">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-12">
            <p class="header-txt">Активы</p>
          </div>
        </div>
        <div class="row">
          <div class="col">
            <p class="plain-txt">Всего средств</p>
            <p class="plain-txt plain-txt-bold" *ngFor="let item of data[0].TOTAL | key">
              <span class="currency" [innerHtml]="(item.key | myCurrency)"></span> {{item.value}}
            </p>
          </div>
          <div class="col">
            <p class="plain-txt">Торговые счета</p>
            <p class="plain-txt plain-txt-bold" *ngFor="let item of data[0].ACCOUNT | key">
              <span class="currency" [innerHtml]="(item.key | myCurrency)"></span> {{item.value}}
            </p>
          </div>
          <div class="col">
            <p class="plain-txt">Сейф</p>
            <p class="plain-txt plain-txt-bold" *ngFor="let item of data[0].SAFE | key">
              <span class="currency" [innerHtml]="(item.key | myCurrency)"></span> {{item.value}}
            </p>
          </div>
          <div class="col">
            <p class="plain-txt">Приведи друга</p>
            <p class="plain-txt plain-txt-bold" *ngFor="let item of data[0].FRIEND | key">
              <span class="currency" [innerHtml]="(item.key | myCurrency)"></span> {{item.value}}
            </p>
          </div>
          <div class="col">
            <p class="plain-txt">Копилка</p>
            <p class="plain-txt plain-txt-bold" *ngFor="let item of data[0].MONEY_BOX | key">
              <span class="currency" [innerHtml]="(item.key | myCurrency)"></span> {{item.value}}
            </p>
          </div>
          <div class="col">
            <p class="plain-txt">Партнер</p>
            <p class="plain-txt plain-txt-bold" *ngFor="let item of data[0].PARTNER | key">
              <span class="currency" [innerHtml]="(item.key | myCurrency)"></span> {{item.value}}
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #loading>
  <div class="row margin-top-20px">
    <div class="col-md-12 text-center">
      <i class="fa fa-spinner fa-2x fa-spin fa-fw"></i>
      <span class="sr-only">Loading...</span>
    </div>
  </div>
</ng-template>
