<div class="row border-bottom padding-bottom-10px padding-top-10px">
  <div class="col-md-1">
    <p class="header-txt">Счета</p>
  </div>
  <div class="col-md-2">
    <select id="gate" title="Gate" class="form-control" (change)="emitGate($event)">
      <option value="">Gate</option>
      <option *ngFor="let gate of uniqueGates" [value]="gate">{{gate}}</option>
    </select>
  </div>
  <div class="col-md-2">
    <select id="type" title="Type" class="form-control" (change)="emitType($event)">
      <option value="">Type</option>
      <option *ngFor="let type of uniqueTypes" [value]="type">{{type}}</option>
    </select>
  </div>
  <div class="col-md-2">
    <select id="account" title="Account" class="form-control" (change)="emitAccount($event)">
      <option value="">Account</option>
      <option *ngFor="let account of uniqueAccounts" [value]="account">{{account}}</option>
    </select>
  </div>
  <div class="col-md-3"></div>
  <div class="col-md-2">
    <div class="float-left margtop">
      <div class="swithText">Demo</div>
      <ui-switch id="dataType" size="small" (change)="accountService.changeDataType($event)" color="#1961e5"
                 switchColor="#ffffff"
                 [ngModel]="accountService.dataType$"></ui-switch>
      <div class="swithText">Real</div>
    </div>
  </div>
</div>
