<div class="row">
  <div class="col-12">
    <span class="badge badge-primary">{{account.GATE}}</span>
    <span class="account-type">{{account.ACCOUNT_TYPE}} #{{account.ACCOUNT}} {{account.CURRENCY}}</span>
  </div>
</div>
<div class="row">
  <div class="col">
    <p class="plain-txt">Плечо</p>
    <p class="plain-txt plain-txt-bold">1:{{account.LEVERAGE}}</p>
  </div>
  <div class="col">
    <p class="plain-txt">Баланс</p>
    <p class="plain-txt plain-txt-bold">
      <span class="currency" [innerHtml]="(account.CURRENCY | myCurrency)"></span> {{account.BALANCE}}</p>
  </div>
  <div class="col">
    <p class="plain-txt">Кредит</p>
    <p class="plain-txt plain-txt-bold">{{account.CREDIT}}</p>
  </div>
  <div class="col">
    <p class="plain-txt">Средства</p>
    <p class="plain-txt plain-txt-bold">{{account.EQUITY}}</p>
  </div>
  <div class="col">
    <p class="plain-txt">Свободно</p>
    <p class="plain-txt plain-txt-bold">{{account.FREE}}</p>
  </div>
  <div class="col">
    <p class="plain-txt">Уровень</p>
    <p class="plain-txt plain-txt-bold">{{account.LEVEL}}%</p>
  </div>
  <div class="col">
    <p class="plain-txt">Прибыль</p>
    <p class="plain-txt plain-txt-bold">{{account.PROFIT}}</p>
  </div>
</div>
