/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

body {
  background: #ebeff1;
  font-family: 'Open Sans', sans-serif;
}

p {
  margin-top: 0;
  margin-bottom: 5px;
}

.margin-top-1 {
  margin-top: 1em;
}

.margin-top-20px {
  margin-top: 20px;
}

.whiteback {
  border-radius: 3px;
  background-color: #ffffff;
  box-shadow: 0 1px 27px 0 rgba(148, 172, 184, 0.32);
}

.padding {
  padding-top: 20px;
  padding-left: 25px;
}

.padding-left-10px {
  padding-left: 10px;
}

.padding-top-10px {
  padding-top: 10px;
}

.padding-bottom-10px {
  padding-bottom: 10px;
}

.header-txt {
  font-size: 24px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1;
  letter-spacing: normal;
  color: #2e4453;
}

.plain-txt {
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.85;
  letter-spacing: normal;
  color: #000000;
}

.plain-txt-bold {
  font-size: 15px;
  font-weight: bold;
  font-stretch: normal;
  line-height: 1.6;
  color: #253138;
}

.currency {
  font-family: 'PT Sans', serif;
}

.borderbtm {
  border-bottom: 1px solid #dde7ee;

}

.account-type {
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: normal;
  color: #1961e5;
  text-decoration: underline;
}

.form-control {
  height: 30px !important;
  padding: 0 !important;
}

#dataType {
  display: inline-block;
  margin-top: 10px;
}

.swithText {
  display: inline-block;
  position: relative;
  top: -6px;
  font-size: 13px;
  font-weight: 600;
  line-height: 1.85;
  color: #253138;
}
